<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="apple-touch-icon" sizes="57x57" href="../212fa0db0b23a41a9daa46776f4d228e.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../212fa0db0b23a41a9daa46776f4d228e.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../212fa0db0b23a41a9daa46776f4d228e.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../212fa0db0b23a41a9daa46776f4d228e.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../212fa0db0b23a41a9daa46776f4d228e.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../212fa0db0b23a41a9daa46776f4d228e.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../212fa0db0b23a41a9daa46776f4d228e.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../212fa0db0b23a41a9daa46776f4d228e.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../212fa0db0b23a41a9daa46776f4d228e.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
        href="../212fa0db0b23a41a9daa46776f4d228e.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../212fa0db0b23a41a9daa46776f4d228e.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../212fa0db0b23a41a9daa46776f4d228e.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../212fa0db0b23a41a9daa46776f4d228e.ico/favicon-16x16.png">
    <link rel="manifest" href="../212fa0db0b23a41a9daa46776f4d228e.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../212fa0db0b23a41a9daa46776f4d228e.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

    <div class="container">
        <form action="/new-cat" method="POST">
            <input type="text" name="image">
            <input type="text" name="name">
            <button type=" submit ">Thêm</button>
        </form>

        <form action="/delete-cat" method="POST">
            <input type="text" name="name">
            <button type="submit">Xóa</button>
        </form>
    
        <form action="/fix-cat" method="POST">
            <input type="text" name="name">
            <input type="text" name="newName">
            <button type="submit">Fix</button>
        </form>

        <div class="row">
            <% for(i = 0; i < results.length; i++){ %>
            <div class="card">
                <a href="<%= results[i].link %>" target="_blank"><span class="img-wrapper"><img
                            src=<%=results[i].image%> alt="images"></span></a>
                <a href="<%= results[i].link %>" target="_blank"><span class="name"><%= results[i].name %></span></a>

                <a href="<%= results[i].link %>" target="_blank"><button>Chi tiết</button></a>

            </div>
           

            <% } %>
        </div>

        <!-- <div class="row">
            <div class="card">
                <a href="sphinx.html" target="_blank"><span class="img-wrapper"><img
                            src="../images/cats-629066_1920.jpg" alt="images"></span></a>
                <a href="sphinx.html" target="_blank"><span class="name">Mèo Sphinx</span></a>

                <a href="sphinx.html" target="_blank"><button>Chi tiết</button></a>

            </div>
            <div class="card">
                <a href="xiem.html" target="_blank"><span class="img-wrapper"><img
                            src="../images/cat-2068462_1920.jpg" alt="images"></span></a>
                <a href="xiem.html" target="_blank"><span class="name">Mèo Xiêm</span></a>

                <a href="xiem.html" target="_blank"><button>Chi tiết</button></a>

            </div>
            <div class="card">
                <a href="ragdoll.html" target="_blank"><span class="img-wrapper"><img
                            src="../images/cats-2702199_1920.jpg" alt="images"></span></a>
                <a href="ragdoll.html" target="_blank"><span class="name">Mèo Ragdoll</span></a>

                <a href="ragdoll.html" target="_blank"><button>Chi tiết</button></a>

            </div>

        </div> -->

    </div>
</body>

</html>